[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/T.Foxx (testfoxx)
[access "refs/for/refs/*"]
	read = group user/T.Foxx (testfoxx)
	push = group user/T.Foxx (testfoxx)
	label-Code-Review = -2..+2 group user/T.Foxx (testfoxx)
	label-Verified = -1..+1 group user/T.Foxx (testfoxx)
	rebase = group user/T.Foxx (testfoxx)
	removeReviewer = group user/T.Foxx (testfoxx)
	submit = group user/T.Foxx (testfoxx)
[access "refs/heads/*"]
	read = group user/T.Foxx (testfoxx)
	create = group user/T.Foxx (testfoxx)
	push = +force group user/T.Foxx (testfoxx)
	pushMerge = group user/T.Foxx (testfoxx)
[access "refs/tags/*"]
	push = +force group user/T.Foxx (testfoxx)
	pushTag = group user/T.Foxx (testfoxx)
	pushSignedTag = group user/T.Foxx (testfoxx)
